
/* ---------- Primary Tabs  ---------- */

#tabs {
  padding: 10px 15px 12px;
  background-color: #e0e0d8;
}

#tabs ul.tabs.primary {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font: 0.85em/1.5em "Lucida Grande","Lucida Sans Unicode",sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}

#tabs ul.tabs.primary li {
  padding: 8px 0px 5px;
  margin: 3px 3px 3px 0px;
  display: inline-block;
}

#tabs ul.tabs.primary li a {
  padding: 8px 17px;
  margin: 0px;
  background-color: #a6a7a2;
  border-radius: 8px;
  text-decoration: none;
  color: #222222;
  border: 1px solid #a6a7a2
}

#tabs ul.tabs.primary li a:hover {
  color: #ffffff;
}

#tabs ul.tabs.primary li.active a:hover,
#tabs ul.tabs.primary li.active a {
  background-color: #ffffff;
  color: #222222;
}