
/* ---------- Basic override system settings ---------- */

* {
  padding: 0;
  margin: 0;
}

body {
  line-height: $lh-normal;
  font-size: $font-normal;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: $serif;
}

.element-hidden,
.element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: blue;
}

h1,
h2 {
  font-family: $sans-serif;
  margin: 1.5em 0 0.5em;
  line-height: $lh-normal;
}

h3,
h4,
h5,
h6 {
  line-height: $lh-normal;
  font-family: $sans-serif;
  margin: 1em 0 0.5em;
}

p {
  margin: 0 0 1em;
}

del {
  text-decoration: line-through;
}

img {
  outline: 0;
}

/* ---------- Unordered and Ordered Lists ---------- */

ul,
ol,
li {
  margin: 0 0 1em;
}

ul,
ol {
  display: block;
}

ul.inline, ul.links.inline {
  display: inline;
  padding-left: 0;
}

ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0;
}