
/* ---------- Panels system ---------- */

div.panel-pane {
  div.admin-links {
    font-size: xx-small;
    margin-right: 1em;
    li {
      padding-bottom: 2px;
      background: white;
      z-index: 201;
      a {
        color: #ccc;
        &:before {
          content: "[";
        }
        &:after {
          content: "]";
        }
      }
    }
    &:hover a {
      color: #000;
    }
  }
  div.admin-links-hover a {
    color: #000;
  }
  div.panel-hide {
    display: none;
  }
}

/** For IE we add the class via js; for other browsers we rely on :hover **/

div.panel-pane div.panel-hide-hover,
div.panel-pane:hover div.panel-hide {
  display: block;
  position: absolute;
  z-index: 200;
  margin-top: -1.5em;
}

div.panel-pane div.node {
  margin: 0;
  padding: 0;
}

div.panel-pane div.feed a {
  float: right;
}