$serif:           'Crimson Text', serif;
$sans-serif:      'Helvetica Neue', Helvetica, Arial, sans-serif;

$lh-large:      1.6em;
$lh-normal:     1.4em;

$font-xxlarge:    200%;
$font-xlarge:     150%;
$font-large:      120%;
$font-normal:     100%;
$font-small:      87.5%;
$font-xsmall:     75%;
$font-xxsmall:    65%;